<section class="categories">
    <h2 class="section-title text-center font-xxl font-bold">Our Categories</h2>
    <div class="categories">
      <div class="row g-3 justify-content-center align-items-center">
        <div class="col-lg-2">
          <div class="category-card d-flex flex-column justify-content-center align-items-center">
            <div class="category-info w-50 d-flex justify-content-evenly align-items-center">
                <img src="assets/images/defCar.svg" alt="Car">
              <h3 class="category-title font-simibold">Luxury Cars</h3>
            </div>
            <div class="category-image">
              <img src="assets/images/0b2eb64e-c602-4b89-f42b-08db3e6ce90e.png" alt="Car">
            </div>
            <div class="category-content text-center">
              <p class="category-description">Experience ultimate comfort with our premium luxury vehicles</p>
              <a class="view-all">Discover more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="category-card d-flex flex-column justify-content-center align-items-center">
            <div class="category-info w-50 d-flex justify-content-evenly align-items-center">
                <img src="assets/images/defCar.svg" alt="Car">
              <h3 class="category-title font-simibold">Luxury Cars</h3>
            </div>
            <div class="category-image">
              <img src="assets/images/0b2eb64e-c602-4b89-f42b-08db3e6ce90e.png" alt="Car">
            </div>
            <div class="category-content text-center">
              <p class="category-description">Experience ultimate comfort with our premium luxury vehicles</p>
              <a class="view-all">Discover more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="category-card d-flex flex-column justify-content-center align-items-center">
            <div class="category-info w-50 d-flex justify-content-evenly align-items-center">
                <img src="assets/images/defCar.svg" alt="Car">
              <h3 class="category-title font-simibold">Luxury Cars</h3>
            </div>
            <div class="category-image">
              <img src="assets/images/0b2eb64e-c602-4b89-f42b-08db3e6ce90e.png" alt="Car">
            </div>
            <div class="category-content text-center">
              <p class="category-description">Experience ultimate comfort with our premium luxury vehicles</p>
              <a class="view-all">Discover more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
